@model WebApplication3.Models.Game

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>
<div class="container-fluid">
    <div class="row col-md">
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.HomeTeam)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AwayTeam)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Venue)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HomeScore)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AwayScore)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Win)
            </th>
        </tr>
        <tr>
            <td>
                @Html.DisplayFor(model => model.HomeTeam)
            </td>
            <td>
                @Html.DisplayFor(model => model.AwayTeam)
            </td>
            <td>
                @Html.DisplayFor(model => model.Venue)
            </td>
            <td>
                @Html.DisplayFor(model => model.HomeScore)
            </td>
            <td>
                @Html.DisplayFor(model => model.AwayScore)
            </td>
            <td>
                @Html.DisplayFor(model => model.Win)
            </td>

        </tr>
    </thead>
</table>
      

<br />
<br />

<h3> Statistics</h3>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FGM)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FGA)

            </th>
            <th>
                @Html.DisplayNameFor(model => model.FGperC)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Two_PM)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Two_PA)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TwoPerC)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Three_PA)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Three_PM)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Three_PC)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FTM)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FTA)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FT_PC)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.O_Rb)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.D_Rb)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Total_Reb)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AST)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TO)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Steal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Block)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Points)
            </th>
        </tr>
        <tr>
            <td>
                @Html.DisplayFor(model => model.FGM)
            </td>
            <td>
                @Html.DisplayFor(model => model.FGA)
            </td>
            <td>
                @Html.DisplayFor(model => model.FGperC)
            </td>
            <td>
                @Html.DisplayFor(model => model.Two_PM)
            </td>
            <td>
                @Html.DisplayFor(model => model.Two_PA)
            </td>
            <td>
                @Html.DisplayFor(model => model.TwoPerC)
            </td>
            <td>
                @Html.DisplayFor(model => model.Three_PA)
            </td>
            <td>
                @Html.DisplayFor(model => model.Three_PM)
            </td>
            <td>
                @Html.DisplayFor(model => model.Three_PC)
            </td>
            <td>
                @Html.DisplayFor(model => model.FTM)
            </td>
            <td>
                @Html.DisplayFor(model => model.FTA)
            </td>
            <td>
                @Html.DisplayFor(model => model.FT_PC)
            </td>
            <td>
                @Html.DisplayFor(model => model.O_Rb)
            </td>
            <td>
                @Html.DisplayFor(model => model.D_Rb)
            </td>
            <td>
                @Html.DisplayFor(model => model.Total_Reb)
            </td>
            <td>
                @Html.DisplayFor(model => model.AST)
            </td>
            <td>
                @Html.DisplayFor(model => model.TO)
            </td>
            <td>
                @Html.DisplayFor(model => model.Steal)
            </td>
            <td>
                @Html.DisplayFor(model => model.Block)
            </td>
            <td>
                @Html.DisplayFor(model => model.Points)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.Notes)
            </td>
            <td>
                @Html.DisplayFor(model => model.Notes)
            </td>
        </tr>
    </thead>
</table>

        </div>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model.GameId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
