@model WebApplication3.Models.Team

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Team</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Roster)
        </dt>
        <dd class=" col-sm-10">
            <table class="table">
                <tr>
                    <th>Name</th>
                    <th> Number </th>
                </tr>
                @foreach (var item in Model.Roster)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Number)
                        </td>
                        </tr>
                        }
                </table>
            </dd>
        </dl>
    </div>
<div>
    <a asp-controller="Players" asp-action="Create">Add New Player</a>
    <a asp-action="Edit" asp-route-id="@Model.TeamID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
