@model IEnumerable<WebApplication3.Models.Player>

@{
    ViewData["Title"] = "Players";
}

<h1>Players</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PlayerID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Number)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TeamName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem=>item.PlayerID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Number)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TeamName.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PlayerID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PlayerID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PlayerID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
