@model WebApplication3.Models.GameStats

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>GameStats</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rebound)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rebound)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Points)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Points)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Turnovers)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Turnovers)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Game)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Game.GameID)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.GamesStatsID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
