@model IEnumerable<WebApplication3.Models.GameStats>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Game.HomeTeam)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Game.Description)
                </td>
            </tr>
        }
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Rebound)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Points)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Turnovers)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Game)
                </th>
                <th></th>
            </tr>
        </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Rebound)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Points)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Turnovers)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Game.GameID)
            </td>
            <td>
           
            

            <td>
                <a asp-action="Edit" asp-route-id="@item.GamesStatsID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.GamesStatsID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.GamesStatsID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
